{%extends 'base.html'%}
{% load static %}
{% block content %}
{{block.super}}


<div class="jumbotron"
    style="background-image:url('https://ctl.s6img.com/society6/img/hDa_qIktCKpoYDO-9IRD2N3eBRg/w_700/prints/~artwork/s6-original-art-uploads/society6/uploads/misc/107acb0ffd5e49dbb8bb55f327003361/~~/home-sweet-home-floral-wreath-prints.jpg?wait=0&attempt=0') ;background-repeat:no-repeat;background-position:center center;background-size:cover;height:100vh;margin-top:-1;color:black;">
      </div>
      <div class="container" style="padding-top: 3%;padding-bottom: 3%;" >
    
  <p class='text-center'>Welcome to Neighbourhood, the only place you can be yourself.Join a neighbourhood, Meet new neighbours, post latest happenings.</p>
      <div class="row">
        {% for neighbourhood in neighbourhoods %}
          <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                      <img src="{{neighbourhood.hood_image.url}}" width="100%" height="300px" class="img-responsive">
                  <div class="card-body">
                      <p> <span>
                          {{neighbourhood.hood_name}}</span>
                          <span style="text-transform: capitalize;font-weight: bold;">:{{ neighbourhood.location }}</span>
                          <span style="float: right;"><a href="{%url 'detail' neighbourhood.id %}"><button class="btn btn-outline-success btn-sm">Join Hood</button></a></span>
                      </p>
                  </div>
              </div>
          </div>
          {% endfor %}
      </div>
  </div>
</div>
{% endblock %}






